<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Manuals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="UTF-8">
  <title>Pen - What You See Is What You Get (WYSIWYG)</title>

</head>
<body>

<div id="toolbar">
  <span id="mode" class="icon-mode disabled"></span>
  <span id="hinted" class="icon-pre disabled" title="Toggle Markdown Hints"></span>
  <span id="tomd" title="to markdown">MD</span>
</div>

<!-- <div id="custom-toolbar" class="pen-menu pen-menu" style="display: block; top: 20px; left: 10px;">
  <i class="pen-icon icon-insertimage" data-action="insertimage"></i>
  <i class="pen-icon icon-blockquote" data-action="blockquote"></i>
  <i class="pen-icon icon-h2" data-action="h2"></i>
  <i class="pen-icon icon-h3" data-action="h3"></i>
  <i class="pen-icon icon-p active" data-action="p"></i>
  <i class="pen-icon icon-code" data-action="code"></i>
  <i class="pen-icon icon-insertorderedlist" data-action="insertorderedlist"></i>
  <i class="pen-icon icon-insertunorderedlist" data-action="insertunorderedlist"></i>
  <i class="pen-icon icon-inserthorizontalrule" data-action="inserthorizontalrule"></i>
  <i class="pen-icon icon-indent" data-action="indent"></i>
  <i class="pen-icon icon-outdent" data-action="outdent"></i>
  <i class="pen-icon icon-bold" data-action="bold"></i>
  <i class="pen-icon icon-italic" data-action="italic"></i>
  <i class="pen-icon icon-underline" data-action="underline"></i>
  <i class="pen-icon icon-createlink" data-action="createlink"></i>
</div> -->

<div data-toggle="pen" data-placeholder="im a placeholder">
  <%=yield%>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>



</body>
</html>
